* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);

  .container {
    width: 580px;
    height: 440px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;

    .picture {
      background-image: url(../images/image-product-desktop.jpg);
      background-size: cover;
      width: 50%;
      height: 100%;
    }

    .information {
      width: 50%;
      height: 100%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;

      .per {
        line-height: 2rem;
        font-weight: 400;
        color: hsl(228, 12%, 48%);
      }

      h1 {
        font-family: "Fraunces", serif;
        line-height: 1em;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .dis {
        line-height: 1.5rem;
        color: hsl(228, 12%, 48%);
        // padding-right: 50px;
      }

      .cost {
        display: flex;
        align-items: center;

        h1 {
          color: hsl(158, 36%, 37%);
          margin-right: 20px;
        }

        .delete {
          font-family: "Montserrat", sans-serif;
          color: hsl(228, 12%, 48%);
          font-size: 0.75rem;
        }
      }
      button {
        width: 220px;
        height: 45px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        color: white;
        background-color: hsl(158, 36%, 37%);
        cursor: pointer;
      }

      button:hover {
        background-color: hsl(212, 21%, 14%);
      }
    }
  }
}
